@using SolbegTask2.Models.Enums
@model Game

@{
    ViewData["Title"] = "Game";
}

<div class="game-info-container">
    @* <button type="button" class="exit-btn" onclick="location.href='@Url.Action("EndGame", "Game")'" >End the Game </button> *@
    @{ await Html.RenderPartialAsync("ActionButton", Model.AwaibleAction);}
    @{await Html.RenderPartialAsync("QuestionList", Model.QuestionInfo); }
</div>
<div class="question-container">
    @Model.Question.QuestionText
</div>
<div class="answer-container">
    @{await Html.RenderPartialAsync("Answer", Model.Question.AnswerA, new ViewDataDictionary(this.ViewData) { { "questionId", "A" }, {"questionNumber", 0}});}
    @{await Html.RenderPartialAsync("Answer", Model.Question.AnswerB, new ViewDataDictionary(this.ViewData) { { "questionId", "B" }, {"questionNumber", 1}});}
    @{await Html.RenderPartialAsync("Answer", Model.Question.AnswerC, new ViewDataDictionary(this.ViewData) { { "questionId", "C" }, {"questionNumber", 2}});}
    @{await Html.RenderPartialAsync("Answer", Model.Question.AnswerD, new ViewDataDictionary(this.ViewData) { { "questionId", "D" }, {"questionNumber", 3}});}
</div>


