@model Result


<div class="centered-content">
    <h2>@Model.Message</h2>
    <p class="result-info">@Model.PriceWon</p>
    <h2>Kromers!</h2>
    
    <button class="nav-button" type="button" onclick="location.href='@Url.Action("Index", "Home")'" >Return to Main Menu</button>
</div>
