@{
    ViewData["Title"] = "Main Menu";
}

<div class="centered-content">
    <h2>who wants to be KROMERonaire</h2>
    <button class="nav-button" type="button" onclick="location.href='@Url.Action("Index", "Game")'">
        Start the Game </button>
    <button class="nav-button" type="button" onclick="location.href='@Url.Action("Index", "Questions")'">
        Add new guestion</button>
</div>
    